/target
rustrecipes.yaml

# Node/Playwright
node_modules/
test-results*/
playwright-report/
blob-report/
playwright/.cache/

# Test Data
data/recipes/test-*.md
data/uploads/*
data/recipes/*.md
data/recipes.db

geminiapikey.txt

#api key
geminiapikey.txt